<!DOCTYPE HTML>
<html>
  <head>
    <title>{Content.Title}-{stl.Company}</title>
    <stl:include file="@/include/header.html"></stl:include>
  </head>
  <body>
    <div id="page-wrapper">
      
      <!-- Header -->
      <stl:include file="@/include/nav.html"></stl:include>
      <!-- Main -->
      <section class="wrapper style1">
        <div class="container">
          <div class="row 200%">
            <div class="4u 12u(narrower)">
              <div id="sidebar">
                
                <!-- Sidebar -->
                
                <section>
                  <footer>
                    <stl:a context="Channel" class="button"></stl:a>
                  </footer>
                </section>
                
                <section>
                  <h3>最新内容</h3>
                  <ul class="links">
                    <stl:contents totalNum="6">
                      <li><stl:a><stl:content wordNum="16"></stl:content></stl:a></li>
                    </stl:contents>
                  </ul> 
                </section>
                
              </div>
            </div>
            <div class="8u  12u(narrower) important(narrower)">
              <div id="content">
                
                <!-- Content -->
                
                <article>
                  <header>
                    <h2>{Content.Title}</h2> 
                    <p>{Content.SubTitle}</p>
                  </header>
                  {Content.Content}
                </article>
                
              </div>
            </div>
          </div>
        </div>
      </section> 
      
      <!-- Footer -->
      <stl:include file="@/include/footer.html"></stl:include>
      
    </div>
    
    <!-- Scripts -->
    <stl:include file="@/include/js.html"></stl:include>
    
  </body>
</html>